{% extends 'basic.html' %}
{% block title %}Offer Form{% endblock title %}
{% block stylecss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock stylecss %}
{% block body %}

<div class="container mt-4 p-2">

<div class="row">

<div class="col-md-4"></div>

<div class="col-md-4">

<h3 class="text-white bg-dark text-center p-3">Please fill out your details carefully</h3>

{% for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}


<div class="card p-2">
<form action="/internshipdetails" method="post">{% csrf_token %}


    <div class="form-group">
<h5><span><i class="fas fa-user"></i> Full Name<span></h5>
<input type="text" class="form control mb-3" name="name" required/>
</div>


<div class="form-group">
    <h5><span><i class="fa-solid fa-envelope"></i> Email<span></h5>
    <input type="email" value="{{user.username}}" class="form control mb-3" name="email" required/>
    </div>

<div class="form-group">
    <h5><span><i class="fa-solid fa-building"></i> Company Name<span></h5>
    <input type="text" class="form control mb-3" name="company" required/>
    </div>

<div class="form-group">
<h5><span><i class="fa-solid fa-file-lines"></i> Offer<span></h5>
<textarea type="text" class="form control mb-3" name="offer" required></textarea>
</div>

<div class="form-group">
    <h5><span><i class="fa-solid fa-calendar-days"></i> Start Date<span></h5>
    <input type="date" class="form control mb-3" name="start" required>
    </div>

<div class="form-group">
    <h5><span><i class="fa-solid fa-calendar-days"></i> End Date<span></h5>
    <input type="date" class="form control mb-3" name="end" required>
    </div>



<div class="d-grid gap-2">
    <button class="btn btn-dark" type="submit">Submit</button>
</div>

</div>

</form>


</div>




<div class="col-md-4"></div>





</div>


</div>

{%endblock body %}

